@model BreakOutBox.Models.LeerkrachtViewModels.OpdrachtViewModel
@{
    ViewData["Title"] = "Details opdracht";
}

<div class="container-fluid pt-4">
    <div class="row text-center">
        <div class="col mb-4">
            <h4 class="d-inline">@(Model.Opdracht.Oefening.Vak.Naam)</h4> <h2 class="d-inline ml-3 mr-3">@Model.Opdracht.Oefening.Naam</h2>
            <form asp-action="DetailsOpdracht" class="d-inline" method="post" asp-route-groepid="@Model.Groep.GroepId">
                <button type="submit" class="btn btn-outline-primary btn-pill btn-sm d-inline sync"><i class="fas fa-sync-alt"></i></button>
            </form>
            <div class="progress progress-lg mt-3">
                <div class="progress-bar" role="progressbar" style="width: @(Model.PercentageVoltooid)%"
                     aria-valuenow="@(Model.PercentageVoltooid)" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6 mb-5">
            <h4>Groep #@Model.Groep.GroepId is bezig aan opdracht @Model.NrHuidigeOpdracht van de @(Model.NrTotaalOpdrachten)</h4>
            <p>
                <table style="border-collapse: collapse;">
                    <tr>
                        <td>Naam van oefening</td>
                        <td>@Model.Opdracht.Oefening.Naam</td>
                    </tr>
                    <tr>
                        <td>Vak</td>
                        <td>@Model.Opdracht.Oefening.Vak.Naam</td>
                    </tr>
                    <tr>
                        <td>Correct antwoord</td>
                        <td>@Model.Opdracht.Oefening.Antwoord</td>
                    </tr>
                    <tr>
                        <td>Groepsbewerking</td>
                        <td>@Model.Opdracht.Groepsbewerking.ToString()</td>
                    </tr>
                    <tr>
                        <td>Groepsantwoord</td>
                        <td>@(Model.Groepsantwoord != null ? Model.Groepsantwoord : 999.999)</td>
                    </tr>
                    <tr>
                        <td>Aantal pogingen</td>
                        <td>@Model.FoutePogingen</td>
                    </tr>
                    @if (Model.IsTijdsOpdracht)
                    {
                        <tr>
                            <td>Tijd beschikbaar</td>
                            <td>@Model.Opdracht.MaxTijdInMinuten</td>
                        </tr>
                        <tr>
                            <td>Tijd verstreken</td>
                            <td>@(Model.Opdracht.StartTijd != null ? (int)((DateTime.Now - Model.Opdracht.StartTijd).Value.TotalMinutes) + " minuten" : "0 (Geblokkeerd)")</td>
                        </tr>
                    }
                    <tr>
                        <td style="padding-right: 16px">Is groepsantwoord opgelost</td>
                        <td>@(Model.OpdrachtIsOpgelost == true ? "Ja" : "Nee")</td>
                    </tr>
                    @if (!Model.IsLaatsteOefening)
                    {
                        <tr>
                            <td style="padding-right: 16px">Toegangscode volgende opdracht</td>
                            <td>@Model.ToegangscodeVolgendeOpdracht</td>
                        </tr>
                        <tr>
                            <td>Is toegangscode opgelost</td>
                            <td>@(Model.VolgendeOpdrachtIsToegankelijk == true ? "Ja" : "Nee")</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>Dit is hun laatste opdracht</td>
                            <td></td>
                        </tr>
                    }
                </table>
            </p>
            @if (Model.IsTijdsOpdracht)
            {
                <form asp-action="GeefGroepNieuweTijd" id="tijdForm" method="post" asp-route-groepid="@Model.Groep.GroepId">
                    <div class="form-row align-items-center">
                        <div class="col-auto form-group">
                            <label asp-for="OpgegevenMinuten">Stel een andere tijd in</label>
                            <div class="input-group input-group-seamless">
                                <span class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-key"></i>
                                    </span>
                                </span>
                                <input asp-for="OpgegevenMinuten" class="form-control mr-2" id="OpgegevenMinuten" placeholder="Minuten" type="number" autocomplete="off" value="@Model.Opdracht.MaxTijdInMinuten">
                                <button type="submit" class="btn btn-primary">Stel in</button>
                            </div>
                            <span asp-validation-for="OpgegevenMinuten" class="text-danger"></span>
                        </div>
                    </div>
                </form>
            }
        </div>
        <div class="col-md-12 col-lg-6 mb-5">
            <h4><a href="#" id="toggle">Toggle</a> <span id="opgave">Opgave</span><span id="feedback">Feedback</span></h4>
            <div id="PDFOpgave" class="pdfcontainer">
                <object type="application/pdf" data="~/opdrachtenG1/@Model.Opdracht.Oefening.Opgave" class="pdf"></object>
            </div>
            <div id="PDFFeedback" class="pdfcontainer">
                <object type="application/pdf" data="~/algemenepdfs/Theorie.pdf" class="pdf"></object>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#PDFFeedback").hide();
        $("#feedback").hide();
        $("#toggle").click(function () {
            $("#PDFOpgave").toggle();
            $("#PDFFeedback").toggle();
            $("#opgave").toggle();
            $("#feedback").toggle();
        });
    </script>
}