@model List<BreakOutBox.Models.Domain.Sessie>
@{
    ViewData["Title"] = "Sessielijst";
}

<div class="container pt-4">
    <div class="row">
        <div class="col mb-5">
            <h2 class="mb-4">Sessies van @ViewData["LeerkrachtNaam"]</h2>
            <table id="sessielijst" style="width:100%;">
                <tr>
                    <th>#</th>
                    <th>Code</th>
                    <th>Omschrijving</th>
                    <th>Groepen</th>
                    <th>Status</th>
                    <th>Acties</th>
                </tr>
                @{int i = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(i++)</td>
                        <td>@(item.Code)</td>
                        <td>@(item.Omschrijving)</td>
                        <td>@(item.Groepen.Count)</td>
                        <td>@(item.CurrentState.Beschrijving)</td>
                        <td align="right"><a asp-controller="Leerkracht" asp-action="SessieBeheren" asp-route-sessiecode="@item.Code">Beheer</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>