@model List<BreakOutBox.Models.Domain.Sessie>

@{
    ViewData["Title"] = "Index";
}

<h3>Sessies van @ViewData["LeerkrachtNaam"]</h3>
<table>
    <tr>
        <th>Nr.</th>
        <th>Code</th>
        <th>Omschrijving</th>
        <th>Aantal groepen</th>
        <th>Status</th>
    </tr>
    @{int i = 1;}
    @foreach (var item in Model)
    {
        <tr class="c">
            <td align="center">@(i++).</td>
            <td align="center">@(item.Code)</td>
            <td align="center">@(item.Omschrijving)</td>
            <td align="center">@(item.Groepen.Count)</td>
            <td align="center">@(item.CurrentState.Beschrijving)</td>
            <td><a asp-controller="Leerkracht" asp-action="OverzichtGroepenInSessie" asp-route-sessiecode="@item.Code"><i class="fa fa-arrow-right" style="color:darkgreen"></i></a></td>
        </tr>
    }
</table>