@model BreakOutBox.Models.Domain.Sessie
@{
    ViewData["Title"] = "Overzicht";
}

<div class="row">
    <div class="col-12 col text-center">
        <h2>Sessie: @Model.Omschrijving</h2>
        <br>
        <h4>Status: @Model.GetState().Beschrijving</h4>
    </div>
</div>
<div class="row">
    @foreach (var groep in Model.Groepen)
    {
        <div class="sm-12 md-6 groep">
            <span class="header"><i class="fas fa-users fa-fw icon"></i>Groep #@(groep.GroepId)</span>
            <ul>
                <li><i class="far fa-question-circle fa-fw icon"></i>@groep.GetState().Beschrijving</li>
                @foreach (var leerling in groep.Leerlingen)
                {
                    <li><i class="far fa-user fa-fw icon"></i>@(leerling.Voornaam + " " + leerling.Achternaam)</li>
                }
            </ul>
            <span class="icons">
                @switch (groep.State)
                {
                    case 0: // NietGereedState
                        <a href="@Url.Action("ZetGroepGereed", "Leerkracht", new { sessiecode = Model.Code, groepId = Encode(groep.GroepId.ToString()) })" class="tip brown" title="Zet deze groep op gereed">
                            <i class="far fa-check-square"></i>
                        </a>
                        <a href="@Url.Action("VergrendelGroep", "Leerkracht", new { sessiecode = Model.Code, groepId = Encode(groep.GroepId.ToString()) })" class="tip brown" title="Vergrendel deze groep">
                            <i class="fas fa-lock"></i>
                        </a>
                        break;
                    case 1: // GereedState
                        <a href="@Url.Action("ZetGroepNietGereed", "Leerkracht", new { sessiecode = Model.Code, groepId = Encode(groep.GroepId.ToString()) })" class="tip brown" title="Zet deze groep op niet-gereed">
                            <i class="far fa-square"></i>
                        </a>
                        <a href="@Url.Action("VergrendelGroep", "Leerkracht", new { sessiecode = Model.Code, groepId = Encode(groep.GroepId.ToString()) })" class="tip brown" title="Vergrendel deze groep">
                            <i class="fas fa-lock"></i>
                        </a>
                        break;
                    case 2: // VergrendeldState
                        <a href="@Url.Action("OntgrendelGroep", "Leerkracht", new { sessiecode = Model.Code, groepId = Encode(groep.GroepId.ToString()) })" class="tip brown" title="Ontgrendel deze groep">
                            <i class="fas fa-unlock"></i>
                        </a>
                        <a href="@Url.Action("BlokkeerGroep", "Leerkracht", new { sessiecode = Model.Code, groepId = Encode(groep.GroepId.ToString()) })" class="tip brown" title="Blokkeer deze groep">
                            <i class="far fa-times-circle"></i>
                        </a>
                        break;
                    case 3: // GeblokkeerdState
                        <a href="@Url.Action("DeblokkeerGroep", "Leerkracht", new { sessiecode = Model.Code, groepId = Encode(groep.GroepId.ToString()) })" class="tip brown" title="Deblokkeer deze groep">
                            <i class="far fa-check-circle"></i>
                        </a>
                        break;
                }
                <a asp-controller="Leerkracht" asp-action="OverzichtGroep" asp-route-id1="@groep.GroepId" asp-route-code="@Model.Code" class="tip brown" title="Bekijk de details voor deze groep">
                    <i class="fas fa-info-circle"></i>
                </a>
            </span>
        </div>
    }
</div>
<div class="float-right text-center">
    <form>
        @switch (Model.State)
        {
            case 0: // NonActiefState
                <button asp-controller="Leerkracht" asp-action="ActiveerSessie" asp-route-id="@Model.Code" class="">Activeer</button>
                break;
            case 1: // ActiefState
                <button asp-controller="Leerkracht" asp-action="DeactiveerSessie" asp-route-id="@Model.Code" class="">Deactiveer</button>
                <button asp-controller="Leerkracht" asp-action="BlokkeerSessie" asp-route-id="@Model.Code" class="">Blokkeer</button>
                <button asp-controller="Leerkracht" asp-action="StartSpelSessie" asp-route-id="@Model.Code" class="">Start</button>
                break;
            case 2: // InSpelState
                <button asp-controller="Leerkracht" asp-action="DeactiveerSessie" asp-route-id="@Model.Code" class="">Deactiveer</button>
                <button asp-controller="Leerkracht" asp-action="Blokkeer" asp-route-id="@Model.Code" class="">Blokkeer</button>
                break;
            case 3: // GeblokkeerdState
                <button asp-controller="Leerkracht" asp-action="DeblokkeerSessie" asp-route-id="@Model.Code" class="">Deblokkeer</button>
                break;
        }
    </form>
</div>

@functions{
    public string Encode(string encodeMe)
    {
        byte[] encoded = System.Text.Encoding.UTF8.GetBytes(encodeMe);
        return Convert.ToBase64String(encoded);
    }
}