@model BreakOutBox.Models.Domain.Sessie
@{
    ViewData["Title"] = "Overzicht";
}

<div class="row">
    <div class="col-12 col text-center">
        <h2>Sessie: @Model.Omschrijving</h2>
        <br>
        <h4>Status: @Model.CurrentState.Beschrijving</h4>
    </div>
</div>
<div class="text-center margin-bottom">
    <form>
        @switch (Model.State)
        {
            case 0: // NonActiefState
                <button asp-controller="Leerkracht" asp-action="ActiveerSessie">Activeer</button>
                break;
            case 1: // ActiefState
                <button asp-controller="Leerkracht" asp-action="DeactiveerSessie">Deactiveer</button>
                <button asp-controller="Leerkracht" asp-action="BlokkeerSessie">Blokkeer</button>
                <button asp-controller="Leerkracht" asp-action="StartSpelSessie">Start</button>
                break;
            case 2: // InSpelState
                <button asp-controller="Leerkracht" asp-action="DeactiveerSessie">Deactiveer</button>
                <button asp-controller="Leerkracht" asp-action="BlokkeerSessie">Blokkeer</button>
                break;
            case 3: // GeblokkeerdState
                <button asp-controller="Leerkracht" asp-action="DeblokkeerSessie">Deblokkeer</button>
                break;
        }
        <button type="submit" style="font-size:22px" onClick="window.location.reload()"> <i class="fa">&#xf021;</i></button>
    </form>
</div>
<div class="row">
    <table>
        <tr>
            <th>Groep</th>
            <th>Leerlingen</th>
            <th>Status</th>
            <th>Voortgang</th>
            <th>Beheer</th>
        </tr>
        @foreach (var groep in Model.Groepen)
        {
            <tr class="text-center">
                <td>
                    Groep #@groep.GroepId
                </td>
                <td>
                    <ul>
                        @foreach (var leerling in groep.Leerlingen)
                        {
                            <li>@leerling.Voornaam @leerling.Achternaam</li>
                        }
                    </ul>
                </td>
                <td>
                    @groep.GetState().Beschrijving
                </td>
                <td>
                    Vraag @(groep.Pad.getProgressie()[1] + 1) van de @groep.Pad.getProgressie()[0]
                </td>
                <td>
                    <ul>
                        @switch (groep.State)
                        {
                            case 0: // NietGereedState
                                <li><a asp-controller="Leerkracht" asp-action="ZetGroepGereed" asp-route-groepid="@groep.GroepId">Zet gereed</a></li>
                                <li><a asp-controller="Leerkracht" asp-action="VergrendelGroep" asp-route-groepid="@groep.GroepId">Vergrendel</a></li>
                                break;
                            case 1: // GereedState
                                <li><a asp-controller="Leerkracht" asp-action="ZetGroepNietGereed" asp-route-groepid="@groep.GroepId">Zet niet gereed</a></li>
                                <li><a asp-controller="Leerkracht" asp-action="VergrendelGroep" asp-route-groepid="@groep.GroepId">Vergrendel</a></li>
                                break;
                            case 2: // VergrendeldState
                                <li><a asp-controller="Leerkracht" asp-action="OntgrendelGroep" asp-route-groepid="@groep.GroepId">Ontgrendel</a></li>
                                <li><a asp-controller="Leerkracht" asp-action="BlokkeerGroep" asp-route-groepid="@groep.GroepId">Blokkeer</a></li>
                                break;
                            case 3: // GeblokkeerdState
                                <li><a asp-controller="Leerkracht" asp-action="DeblokkeerGroep" asp-route-groepid="@groep.GroepId">Deblokkeer</a></li>
                                break;
                        }
                    </ul>
                </td>
            </tr>
        }
    </table>
</div>