@model BreakOutBox.Models.Domain.Sessie
@{
    ViewData["Title"] = "Overzicht";
}

<div class="row">
    <div class="col-12 col text-center">
        <h2>Sessie: @Model.Omschrijving</h2>
        <br>
        <h4>Status: @Model.GetState().Beschrijving</h4>
    </div>
</div>
<div class="row">
    @foreach (var groep in Model.Groepen)
    {
        <div class="sm-12 md-6 groep">
            <span class="header"><i class="fas fa-users fa-fw icon"></i>Groep #@(groep.GroepId)</span>
            <ul>
                <li><i class="far fa-question-circle fa-fw icon"></i>@groep.GetState().Beschrijving</li>
                @foreach (var leerling in groep.Leerlingen)
                {
                    <li><i class="far fa-user fa-fw icon"></i>@(leerling.Voornaam + " " + leerling.Achternaam)</li>
                }
            </ul>
            <span class="icons">
                <a asp-controller="Leerkracht" asp-action="OverzichtGroep" asp-route-id1="@groep.GroepId" asp-route-code="@Model.Code" class="tip brown" title="Bekijk de details voor deze groep">
                    <i class="fas fa-info-circle"></i>
                </a>
                <a asp-controller="Leerkracht" asp-action="OverzichtGroep" asp-route-id1="@groep.GroepId" asp-route-code="@Model.Code" class="tip brown" title="Bekijk de details voor deze groep">
                    <i class="fas fa-info-circle"></i>
                </a>
            </span>
        </div>
    }
</div>
<div class="float-right text-center">
    @if (Model.State == 0) //NonActiefState
    {
        <form>
            <button asp-controller="Leerkracht" asp-action="ActiveerSessie" asp-route-id="@Model.Code" class="">Activeer</button>
        </form>
    }
    @if (Model.State == 1) //ActiefState
    {
        <form>
            <button asp-controller="Leerkracht" asp-action="DeactiveerSessie" asp-route-id="@Model.Code" class="">Deactiveer</button>
            <button asp-controller="Leerkracht" asp-action="BlokkeerSessie" asp-route-id="@Model.Code" class="">Blokkeer</button>
            <button asp-controller="Leerkracht" asp-action="StartSpelSessie" asp-route-id="@Model.Code" class="">Start</button>
        </form>
    }
    @if (Model.State == 2) //InSpelState
    {
        <form>
            <button asp-controller="Leerkracht" asp-action="DeactiveerSessie" asp-route-id="@Model.Code" class="">Deactiveer</button>
            <button asp-controller="Leerkracht" asp-action="Blokkeer" asp-route-id="@Model.Code" class="">Blokkeer</button>
        </form>
    }
    @if (Model.State == 3) //GeblokkeerdState
    {
        <form>
            <button asp-controller="Leerkracht" asp-action="DeblokkeerSessie" asp-route-id="@Model.Code" class="">Deblokkeer</button>
        </form>
    }
</div>
