@model BreakOutBox.Models.Domain.Sessie
@{
    ViewData["Title"] = "Sessie";
}

<div class="row">
    <div class="col-12 col text-center">
        <h2>Sessie: @Model.Omschrijving</h2>
    </div>
</div>

<div class="row">
    @foreach (var groep in Model.Groepen)
    {
        <div class="sm-12 md-6 col groep">
            <h4><i class="fas fa-users fa-sm marginright"></i> Groep @(groep.GroepId)</h4>
            <ul>
                @foreach (var leerling in groep.Leerlingen)
                {
                    <li>@(leerling.Voornaam + " " + leerling.Achternaam)</li>
                }
                <li><p></p></li>
                @*<li>
                        @Html.ActionLink("Klik hier als dit jouw groepje is", "VergrendelGroep", "Sessie", new { groepId = groep.GroepId }, "")
                    </li>
                    <li>
                        @Html.ActionLink("Klik hier om de groep terug te ontgrendelen", "OntgrendelGroep", "Sessie", new { groepId = groep.GroepId }, "")
                    </li>*@
                @if (groep.State == 0 && groep.State != 2)
                {
                    <li>
                        <a href="@Url.Action("ZetGroepGereed", "Sessie", new { groepId = groep.GroepId })">
                            <i class="fas fa-angle-double-right"></i> Klik hier als dit jouw groep is
                        </a>
                    </li>
                }
                @if (groep.State == 1 && groep.State != 2)
                {
                    <li>
                        <a href="@Url.Action("ZetGroepNietGereed", "Sessie", new { groepId = groep.GroepId })">
                            <i class="fas fa-angle-double-right"></i> Klik hier om de groep te deselecteren
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
</div>
<div class="row">
    <div class="sm-12 col text-center">
        <p>@TempData["message"]</p>
        <p><a asp-controller="Spel" asp-action="SpelSpelen">Simuleer leerkracht start sessie</a></p>
    </div>
</div>
