@model BreakOutBox.Models.Domain.Sessie
@{
    ViewData["Title"] = "Sessie";
}

<div class="row">
    <div class="col-12 col text-center">
        <h2>Sessie: @Model.Omschrijving</h2>
    </div>
</div>
<div class="row">
    <div class="col-12 col">
        <p>Kies jouw groep en maak je klaar voor de start.</p>
        <p>Lees ondertussen ook de spelregels door. Deze vind je onderaan de pagina.</p>
    </div>
    @foreach (var groep in Model.Groepen)
    {
        <div class="sm-12 md-6 groep">
            <span class="header"><i class="fas fa-users fa-fw icon"></i>Groep #@(groep.GroepId)</span>
            <ul>
                @foreach (var leerling in groep.Leerlingen)
                {
                    <li><i class="far fa-user fa-fw icon"></i>@(leerling.Voornaam + " " + leerling.Achternaam)</li>
                }
            </ul>
            <span class="icons">
                @if (groep.State == 0 && groep.State != 2 && ViewBag.GeselecteerdeGroep == null)
                {
                    <a href="@Url.Action("ZetGroepGereed", "Sessie", new { sessiecode = Model.Code, groepId = Encode(groep.GroepId.ToString()) })" class="tip brown" title="Klik hier als dit jouw groep is">
                        <i class="far fa-square"></i>
                    </a>
                }
                @if (groep.State == 1 && groep.State != 2 && ViewBag.GeselecteerdeGroep != null && ViewBag.GeselecteerdeGroep.GroepId == groep.GroepId)
                {
                    <a href="@Url.Action("ZetGroepNietGereed", "Sessie", new { sessiecode = Model.Code, groepId = Encode(groep.GroepId.ToString()) })" class="tip brown" title="Klik hier om deze groep te deselecteren">
                        <i class="far fa-check-square"></i>
                    </a>
                }
                @if (groep.State == 1 && groep.State != 2 && ViewBag.GeselecteerdeGroep == null)
                {
                    <a href="#" class="tip brown" title="Een andere groep heeft deze groep al geselecteerd">
                        <i class="far fa-times-circle"></i>
                    </a>
                }
                @if (groep.State == 2)
                {
                    <a href="#" class="tip brown" title="Deze groep is vergrendeld">
                        <i class="fas fa-lock"></i>
                    </a>
                }
            </span>
        </div>
    }
</div>
<div class="row">
    <div class="sm-12 col text-center">
        <p>
            @if (TempData.Count != 0)
            {<i class="fas fa-exclamation-triangle fa-sm marginright"></i> @TempData["message"]}
        </p>
        <p>
            @if (ViewBag.GeselecteerdeGroep != null)
            {
                <a href="@Url.Action("StartSpel", "Sessie", new { sessiecode = Model.Code, groepId = ViewBag.GeselecteerdeGroep.GroepId.ToString() })">Start de eerste opdracht</a>
            }
            @*<a asp-controller="Spel" asp-action="SpelSpelen" asp-route="">Simuleer leerkracht start sessie</a>*@
        </p>
    </div>
</div>
<div class="row">
    <div class="sm-12 col">
        <div id="pdf">
            <object height="750" type="application/pdf" data="~/algemenepdfs/instructies.pdf" id="pdf_content"></object>
        </div>
    </div>
</div>

@functions{
    public string Encode(string encodeMe)
    {
        byte[] encoded = System.Text.Encoding.UTF8.GetBytes(encodeMe);
        return Convert.ToBase64String(encoded);
    }
}