@model BreakOutBox.Models.Domain.Sessie
@{
    ViewData["Title"] = "Sessie";
}

<div class="row">
    <div class="col-12 col text-center">
        <h2>Sessie: @Model.Omschrijving</h2>
    </div>
</div>
<div class="row">
    <div class="col-12 col text-center">
        <p>Kies jouw groep en maak je klaar voor de start.</p>
        <p>Lees ondertussen ook de spelregels door. Deze vind je onderaan de pagina.</p>
    </div>
    @foreach (var groep in Model.Groepen)
    {
        <div class="sm-12 md-6 col groep">
            <h4><i class="fas fa-users fa-sm marginright"></i> Groep @(groep.GroepId)</h4>
            <ul>
                @foreach (var leerling in groep.Leerlingen)
                {
                    <li>@(leerling.Voornaam + " " + leerling.Achternaam)</li>
                }
                <li><p></p></li>
                @*<li>
                        @Html.ActionLink("Klik hier als dit jouw groepje is", "VergrendelGroep", "Sessie", new { groepId = groep.GroepId }, "")
                    </li>
                    <li>
                        @Html.ActionLink("Klik hier om de groep terug te ontgrendelen", "OntgrendelGroep", "Sessie", new { groepId = groep.GroepId }, "")
                    </li>*@
                @if (groep.State == 0 && groep.State != 2 && ViewBag.GeselecteerdeGroep == null)
                {
                    <li>
                        <a href="@Url.Action("ZetGroepGereed", "Sessie", new { sessiecode = Model.Code, groepId = groep.GroepId })">
                            <i class="fas fa-angle-double-right"></i> Klik hier als dit jouw groep is
                        </a>
                    </li>
                }
                @if (groep.State == 1 && groep.State != 2 && ViewBag.GeselecteerdeGroep != null && ViewBag.GeselecteerdeGroep.GroepId == groep.GroepId)
                {
                    <li>
                        <a href="@Url.Action("ZetGroepNietGereed", "Sessie", new { sessiecode = Model.Code, groepId = groep.GroepId })">
                            <i class="fas fa-angle-double-right"></i> Klik hier om de groep te deselecteren
                        </a>
                    </li>
                }
                @if (groep.State == 1 && groep.State != 2 && ViewBag.GeselecteerdeGroep == null)
                {
                    <li>Een andere groep heeft deze groep al gekozen</li>
                }
                @if (groep.State == 2)
                {
                    <li>Deze groep is vergrendeld</li>
                }
            </ul>
        </div>
    }
</div>
<div class="row">
    <div class="sm-12 col text-center">
        <p>
            @if (TempData.Count != 0)
            {<i class="fas fa-exclamation-triangle fa-sm marginright"></i> @TempData["message"]}
        </p>
        <p>
            @if (ViewBag.GeselecteerdeGroep != null)
            {
                <a href="@Url.Action("StartSpel", "Sessie", new { sessiecode = Model.Code, groepId = ViewBag.GeselecteerdeGroep.GroepId.ToString() })">Simuleer leerkracht start sessie</a>
            }
            @*<a asp-controller="Spel" asp-action="SpelSpelen" asp-route="">Simuleer leerkracht start sessie</a>*@
        </p>
    </div>
</div>
<div class="row">
    <div class="sm-12 col">
        <div id="pdf">
            <object height="750" type="application/pdf" data="~/algemenepdfs/instructies.pdf" id="pdf_content"></object>
        </div>
    </div>
</div>