@model BreakOutBox.Models.SessieViewModels.ToonGroepenInSessieViewModel
@{
    ViewData["Title"] = "Sessie";
}

<p></p>
<div class="content">
    <h1 class="centeralign">Sessie code: <b>@Model.HuidigeSessieCode</b></h1>

    @{int i = 1; int j = 1;}
    @foreach (var groep in Model.GroepenInSessie)
    {
        <a class="overzichtGroepen" asp-controller="Sessie" asp-action="ToonOpdracht" asp-route-id="@(j)">
            <div id="groep@(j++)Overzicht">
                <div><center><b>@groep.GroepsNaam</b></center></div>
                @foreach (var leerling in groep.GroepsLeden)
                {
                    <center><span><b>@(i++ + ".") </b>@(leerling.Naam + " " + leerling.Voornaam)</span></center>
                }
                <span hidden>@(i = 1)</span>
                <br />
            </div>
        </a>
    }
</div>

