@model BreakOutBox.Models.SpelViewModels.SpelSpelenViewModel
@{

    var progressie = Model.Groep.Pad.getProgressie(Model.Opdracht);
    var progressiePercentage = ((((decimal)progressie[1] + 1) / ((decimal)progressie[0])) * 100);
    var progressiePercentageCompleted = (int)(System.Math.Round(progressiePercentage, 0) - ((decimal)100 / progressie[0]));
}
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    


    <style>


    </style>

</head>
<script src="~/js/site.js"></script>
<!-- Latest compiled and minified CSS -->
@*width:@(progressie[1] / progressie[0])%
    <span class="sr-only"></span>*@


<div class="row">
    <div class="sm-12 col text-center">
        <h2 style="text-decoration:underline">@Model.Opdracht.Oefening.Naam</h2>
        <form method="post" id="formAntwoord" name="formAntwoord">
            <p><h4 style="text-decoration: underline">@(Model.Opdracht.Oefening.Vak.Naam)</h4></p>
            <p>
                <h5>opdracht @(progressie[1] + 1) van de @(progressie[0])</h5>
            </p>
            <p>
               
            </p>
            @*<p>
                <div class="w3-container" onclick="">
                    <div class="w3-light-grey" style="width:60%;margin: auto;">
                        <div class="w3-container w3-blue w3-center" style="width:@((int)progressiePercentageCompleted)%"><span style="color:black">a</span></div>
                    </div>
                </div>
            </p>*@

            <div>
                <div id="pdf">
                    <object height="750" type="application/pdf" data="~/opdrachtenG1/@Model.Opdracht.Oefening.Opgave" id="pdf_content"></object>
                    <object height="750" type="application/pdf" data="~/algemenepdfs/Theorie.pdf" id="pdf_hulp" style="display:none"></object>

                </div>
            </div>
            <p><label asp-for="Groepsantwoord"></label></p>
            <p><input id="Toegangscode" asp-for="Groepsantwoord" type="text" class="form-control" autocomplete="off" value="" /></p>
            <p><span asp-validation-for="Groepsantwoord" class="text-danger" id="foutTeksvakLeeg"></span></p>

            <p>@TempData["FouteCode"]</p>
            @*<p><a asp-controller="Sessie" asp-action="SessieOverzicht" asp-route-id="@Model.SessieCode" class="btn btn-default">Ga verder</a></p>*@
            <p><button type="button" class="" onclick="promalert()">Ga verder</button></p>
            @if (Model.TellerFoutePogingen >= 1)
            {
            <button onclick="hulp()" type="button">Hulp nodig?</button>
            }
            @if(Model.TellerFoutePogingen == 3)
            {


            }
            <div hidden>
                <p><input asp-for="OpdrachtId" type="text" class="form-control" autocomplete="off" value="@Model.Opdracht.OpdrachtId" /></p>
                <p><input asp-for="GroepId" type="text" class="form-control" autocomplete="off" value="@Model.Groep.GroepId" /></p>
                <p><input asp-for="sessieId" type="text" class="form-control" autocomplete="off" value="@Model.Sessie.Code" /></p>
                <p><input asp-for="TellerFoutePogingen" type="text" class="form-control" autocomplete="off" value="@(Model.TellerFoutePogingen + 1)" /></p>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script asp-src-include="lib/jquery-validation/dist/jquery.validate.js"></script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    

    <script>
        console.log("Antwoord " + @Model.Opdracht.Oefening.Antwoord.ToString());
        console.log("Toegangscode " +@(Model.Groep.Pad.getNextOpdracht(Model.Opdracht).Toegangscode.Code.ToString()));
        console.log("progressie% completed " + @((int)progressiePercentageCompleted));    
    </script>
    <script>       
        function promalert() {
            if (document.getElementById("Toegangscode").value == null || document.getElementById("Toegangscode").value == "") {
                console.log("in de if leeg");
                document.getElementById('foutTeksvakLeeg').innerHTML = "Toegangscode mag niet leeg zijn";
                return;
            }

            if (@(Model.Opdracht.Oefening.Antwoord.ToString()) == document.getElementById("Toegangscode").value) {

                 if (@(progressie[1] + 1) == @(progressie[0])){
                    swal({
                        title: 'Juist! doe het volgende om de schatkist te vinden',
                        text: '@Model.Opdracht.Actie.Omschrijving.ToString()',

                        showCancelButton: false,
                        confirmButtonText: 'sluit het spel'
                    },
                        function () {
                            console.log("hier");
                            window.location.href = "/Sessie/Index";

                        });
                 } else {
                    swal({
                    title: "Toegangscode volgende oefening",
                    text: "@Model.Opdracht.Actie.Omschrijving.ToString()", // werkt niet @*@Model.Opdracht.Actie.Omschrijving.ToString()*@
                    type: "input",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    inputPlaceholder: "Toegangscode"
                    },
                    function (inputValue) {
                        var j = @(Model.Groep.Pad.getNextOpdracht(Model.Opdracht).Toegangscode.Code.ToString());
                        if (inputValue === false) return false;

                        if (inputValue === "") {
                            swal.showInputError("You need to write something!");
                            return false
                        }
                        if (!(inputValue == j)){
                            swal.showInputError("Dit is niet de juiste toegangscode");
                            console.log("inputvalue1 :" + inputValue);
                            console.log("inputvalue2 :" + j);
                            return false
                        }

                        swal("Juist!", "Op naar de volgende oefening!", );
                        setTimeout(delaySubmit, 1000);
                    }, );
                 }
            } else {
                    console.log("Antwoord en toegangscode");
                    console.log(@Model.Opdracht.Oefening.Antwoord.ToString());
                    console.log(@(Model.Groep.Pad.getNextOpdracht(Model.Opdracht).Toegangscode.Code.ToString()));
                    document.getElementById("formAntwoord").submit();
            }
        }
        function delaySubmit() {
            document.getElementById("formAntwoord").submit();
        }
    </script>







}





