@model BreakOutBox.Models.SpelViewModels.SpelSpelenViewModel


<div class="row site">
    <div id="landing" class="sm-12 col">
        <div class="demo-title">
            <div class="row flex-center">
                <div class="text-center">
                    <h1>Break Out Box</h1>
                    <form method="post">

                        <p>@Model.Opdracht.Oefening.Naam</p>
                        <p>Vak: @Model.Opdracht.Oefening.Vak.Naam</p>
                        <p></p>

                        <div>

                            <div id="pdf">
                                <object width="600" height="750" type="application/pdf" data="~/OpdhrachtenG1/@Model.Opdracht.Oefening.Opgave" id="pdf_content">
                                   
                                </object>
                            </div>

                            

                        </div>
                        <p><label asp-for="Toegangscode"></label></p>
                        <p><input id="Toegangscode" asp-for="Toegangscode" type="text" class="form-control" autocomplete="off" value="" /></p>
                        <p><span asp-validation-for="Toegangscode" class="text-danger"></span></p>
                        
                        <p>@TempData["FouteCode"]</p>
                        @*<p><a asp-controller="Sessie" asp-action="SessieOverzicht" asp-route-id="@Model.SessieCode" class="btn btn-default">Ga verder</a></p>*@
                        <p><button type="submit" class="">Ga verder</button></p>

                        <div hidden>
                            <p><input asp-for="OpdrachtId" type="text" class="form-control" autocomplete="off" value="@Model.Opdracht.OpdrachtId"/></p>
                            <p><input asp-for="GroepId" type="text" class="form-control" autocomplete="off" value="@Model.Groep.GroepId" /></p>
                            <p><input asp-for="sessieId" type="text" class="form-control" autocomplete="off" value="@Model.Sessie.Code" /></p>
                            <p><input asp-for="TellerFouteToegangscode" type="text" class="form-control" autocomplete="off" value="@(Model.TellerFouteToegangscode + 1)" /></p>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script asp-src-include="lib/jquery-validation/dist/jquery.validate.js"></script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}