@model BreakOutBox.Models.SpelViewModels.SpelSpelenViewModel
@{
    ViewData["Title"] = Model.Opdracht.Oefening.Naam;
    var progressie = Model.Groep.Pad.getProgressie(Model.Opdracht);
    var progressiePercentage = ((((decimal)progressie[1] + 1) / ((decimal)progressie[0])) * 100);
    var progressiePercentageCompleted = (int)(System.Math.Round(progressiePercentage, 0) - ((decimal)100 / progressie[0]));
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Latest compiled and minified CSS -->
@*width:@(progressie[1] / progressie[0])%
<span class="sr-only"></span>*@

<div class="row">
    <div class="sm-12 col text-center">
        <h2>@Model.Opdracht.Oefening.Naam</h2>
        <form method="post">
            <p><h4>@(Model.Opdracht.Oefening.Vak.Naam)</h4></p>
            <p>
                <h5> opdracht @(progressie[1] + 1) van @(progressie[0])</h5>
            </p>
            <p>
                <div class="w3-container">
                    <div class="w3-light-grey" style="width:60%;margin: auto;">
                        <div class="w3-container w3-blue w3-center" style="width:@((int)progressiePercentageCompleted)%"><span style="color:black">@((int)(progressiePercentageCompleted))%&nbsp;correct&nbsp;opgelost</span></div>
                    </div>
                </div>
            </p>
          
            <div>
                <div id="pdf">
                    <object height="750" type="application/pdf" data="~/opdrachtenG1/@Model.Opdracht.Oefening.Opgave" id="pdf_content"></object>
                </div>
            </div>
            <p><label asp-for="Groepsantwoord"></label></p>
            <p><input id="Toegangscode" asp-for="Groepsantwoord" type="text" class="form-control" autocomplete="off" value="" /></p>
            <p><span asp-validation-for="Groepsantwoord" class="text-danger"></span></p>
            <p>@TempData["FouteCode"]</p>
            @*<p><a asp-controller="Sessie" asp-action="SessieOverzicht" asp-route-id="@Model.SessieCode" class="btn btn-default">Ga verder</a></p>*@
            <p><button type="submit" class="">Ga verder</button></p>
            @if (Model.TellerFoutePogingen == 3)
            {
                <div>
                    <p><button type="button">Feedback</button></p>
                </div>
            }
            <div hidden>
                <p><input asp-for="OpdrachtId" type="text" class="form-control" autocomplete="off" value="@Model.Opdracht.OpdrachtId" /></p>
                <p><input asp-for="GroepId" type="text" class="form-control" autocomplete="off" value="@Model.Groep.GroepId" /></p>
                <p><input asp-for="sessieId" type="text" class="form-control" autocomplete="off" value="@Model.Sessie.Code" /></p>
                <p><input asp-for="TellerFoutePogingen" type="text" class="form-control" autocomplete="off" value="@(Model.TellerFoutePogingen + 1)" /></p>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script asp-src-include="lib/jquery-validation/dist/jquery.validate.js"></script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
